nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

nav li {
  //display: inline-block;
}
nav li a {
  color: #000;
  padding: 8px 16px;

  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  border: 0;
  border-width: 0;
}

nav li a::after {
  display: block;
  width: 0;
  transition: 0.5s;
  content:  "";
}

nav li a:hover::after {
  content: "";
  border-bottom: 2px solid black;
  border-width: 100%;
  width: 100%;
}

nav li a:hover {
    background-color: #555;
    color: white;
}

.title {

}
